/* Reset Styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* include padding and border into elements total sizing */
}

button {
	outline: none;
	border: none;
	background: none;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		background-color: #e2ebf0;
}

header {
	text-align: center;
	margin: 20px 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #363636;
	text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
}

main {
	margin: 0 auto;
	width: 860px;
	height: 560px;
	display: flex;
	gap: 22px;
}

/* Sketch Controls */
.control-flex {
	padding: 8px 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #dedcff;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	opacity: 0.75;
	gap: 12px;
}

.control-flex:not(:last-of-type) {
	margin-bottom: 16px;
}

.control-flex:hover {
	opacity: 1;
	box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.control-flex label,
.control-flex button {
	flex: 1;
}

.control-flex label,
.control-flex input,
.control-flex button {
	cursor: pointer;
}

/* Reset Default Checkbox Style */
input[type='checkbox'] {
	-webkit-appearance: none; /* remove default appearances across all browsers */
	-moz-appearance: none; /* remove default appearances across all browsers */
	appearance: none; /* remove default appearances across all browsers */
	width: 30px;
	height: 18px;
	position: relative;
	border-radius: 50px;
	background-color: #b9b7d4;
	transition: all 0.3s ease;
}

/* Toggle Switch Circle */
input[type='checkbox']:before {
	content: '';
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	background: #eee;
	left: 2px;
	top: 2px;
	border-radius: 50%;
	transition: all 0.3s ease;
}

/* Checked State */
input[type='checkbox']:checked {
	background-color: #707070;
}

input[type='checkbox']:checked:before {
	left: 14px;
}

/* Custom Color Input */
input[type='color'] {
	-webkit-appearance: none; /* remove default appearances across all browsers */
	-moz-appearance: none; /* remove default appearances across all browsers */
	appearance: none; /* remove default appearances across all browsers */
	background: none;
	border: none;
	width: 30px;
	height: 20px;
}

/* Inside Of Input */
input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type='color']::-webkit-color-swatch {
	border-radius: 20px;
}

/* Custom Slider */
input[type='range'] {
	-webkit-appearance: none; /* remove default appearances across all browsers */
	-moz-appearance: none; /* remove default appearances across all browsers */
	appearance: none; /* remove default appearances across all browsers */
	background-color: #b9b7d4;
	height: 4px;
	border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none; /* remove default appearances across all browsers */
	-moz-appearance: none; /* remove default appearances across all browsers */
	appearance: none; /* remove default appearances across all browsers */
	width: 5px;
	height: 20px;
	background-color: #707070;
	border-radius: 5px;
}

/* Button */
#reset {
	font-size: 16px;
	text-transform: uppercase;
}

/* Grid Container */
.grid-container {
	display: flex;
	flex: 1;
	aspect-ratio: 1/1;
	padding: 18px;
	background-color: #fefefe;
	box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}

.column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.row {
	background-color: #fefefe;
	flex: 1;
}
